.productCard {
  border: 2px solid #4caf50;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #f0fff4;
}

.outOfStockClass {
  border: 2px solid #f44336;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #ffe6e6;
  opacity: 0.6;
}
